
__pycache__/
*.py[cod]
*$py.class
venv/
.env

.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

.vscode/
.idea/
.DS_Store

**/venv/
**/.venv/
**/pycache/
**/.py[cod]
**/.so

**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl